.Dashboards{
    width: 90%;
    margin: auto;
}

.Dashboards h1{
    color: white;
    font-size: 30px;
    font-family: 'IM Fell DW Pica', serif;
    margin-top: 15px;
}

.Dashboards p{
    color: white;
    font-size: 22px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.Dashboards .blockChoix{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}

.Dashboards .choix {
    background-color: #d9d9d91d;
    border: 2px solid #706C6C;
    border-radius: 25px;
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.Dashboards .choix p{
    text-align: center;
    margin-top: 110px;
    transform: rotate(-15deg);
}